<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LiaAppC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${ENCODED_APP_ID}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Your own description of the purpose</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MicroPhone được sử dụng để đàm thoại với bác sĩ.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Thư viện ảnh được sử dụng để gửi ảnh khi nhắn tin, cập nhật ảnh hậu phẫu.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Fester Book.otf</string>
		<string>Fester Medium.otf</string>
		<string>SVN-PF Din Text Pro Bold.otf</string>
		<string>SVN-PF Din Text Pro Medium Italic copy.otf</string>
		<string>SVN-PF Din Text Pro Regular.otf</string>
		<string>Kastelov - NolanNext-Book.ttf</string>
		<string>Kastelov - NolanNext-BookItalic.ttf</string>
		<string>Kastelov - NolanNext-ExtraBold.ttf</string>
		<string>Kastelov - NolanNext-ExtraBoldItalic.ttf</string>
		<string>Kastelov - NolanNext-Heavy.ttf</string>
		<string>Kastelov - NolanNext-HeavyItalic.ttf</string>
		<string>Kastelov - NolanNext-Light.ttf</string>
		<string>Kastelov - NolanNext-LightItalic.ttf</string>
		<string>Kastelov - NolanNext-Medium.ttf</string>
		<string>Kastelov - NolanNext-MediumItalic.ttf</string>
		<string>Kastelov - NolanNext-Thin.ttf</string>
		<string>Kastelov - NolanNext-ThinItalic.ttf</string>
		<string>Kastelov-Nolan-Next-Bold-Italic.ttf</string>
		<string>Kastelov-Nolan-Next-Bold.ttf</string>
		<string>Kastelov-Nolan-Next-Italic.ttf</string>
		<string>Kastelov-NolanNext-Regular.ttf</string>
		<string>Mohave-Bold.ttf</string>
		<string>Mohave-BoldItalic.ttf</string>
		<string>Mohave-Italic.ttf</string>
		<string>Mohave-Light.ttf</string>
		<string>Mohave-LightItalic.ttf</string>
		<string>Mohave-Medium.ttf</string>
		<string>Mohave-MediumItalic.ttf</string>
		<string>Mohave-Regular.ttf</string>
		<string>icomoon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
